::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Thanh cuộn */
::-webkit-scrollbar-thumb {
    background-color: rgb(136, 136, 136);
    border-radius: 10px;
    border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.form-group {
    margin-bottom: 15px;
}

.form-control {
    padding: 10px !important;
    box-sizing: border-box;
}

.payment-method {
    position: relative;
    display: flex;
    align-items: center;
}

.icon-money {
    position: absolute;
    right: 10%;
    color: #1990c6;
}

/* mobile & tablet width< 1024*/
@media only screen and (min-width: 63.9375rem) {
}

/* mobile width < 768px*/
@media only screen and (max-width: 767px) {
    .main-content__title-icon {
        display: inline-block !important;
    }

    .checkout-action_wrap {
        flex-direction: column-reverse;
    }

    .checkout-action_btn {
        margin-bottom: 15px;
        width: 100% !important;
    }
}

/* tablet width >= 768px and with < 1024px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
}

/* custom lại select2 */
.select2-container--default .select2-selection--single {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    height: 39px;
    font-size: 15px;
}

.select2-selection__rendered,
.select2-selection__clear {
    line-height: 36px !important;
}

.select2-selection__arrow {
    height: 36px !important;
}
